@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

html {
  font-size: 125%;
} /*20px*/
* {
  font-family: "Inter";
}

heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  /* background-color: gray; */
  border-bottom: 1px solid black;
}

.logo-heading {
  display: flex;
  text-decoration: none;
  font-weight: 700;
  font-size: 3.052rem;
  color: #59c9a5;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

heading ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
}
heading ul li {
  padding: 0.2em;
}

.search-box {
  font-size: 1rem;
  border-color: #59c9a5;
  border-radius: 10px;
  border-style: solid;
  color: #0f1927;
}

.button-heading {
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #59c9a5;
  color: #0f1927;
}
.button-heading:hover {
  cursor: pointer;
}
